# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/

# Data & Models (too large for Git — we'll use DVC later)
data/*.csv
data/*.parquet
models/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
model.safetensor
models/model.safetensors
